<launch>
    <arg name="name" default="turtle"/>
    <arg name="keyboard_name" default="keyboard"/>
    <arg name="vel_topic" default="velocity"/>

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen">
        <remap from="/turtle1/cmd_vel" to="$(arg vel_topic)"/>
    </node>
    
    <node pkg="diaz_drawM" type="turtlesim_node" name="talker" output="screen">
        <remap from="/turtle1/cmd_vel" to="$(arg vel_topic)"/>
    </node>

</launch>